* {
box-sizing: border-box;
}
body {
	font-family: "Century Gothic", 'Lato', sans-serif;
	}

/* Containers */
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.container .container-fb {
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 4rem;
}

.container-fb > h3 {
	padding-bottom: 2rem;
}

.content {
display: none;
}

.et-hero-tabs-container {
	background: #fff;
	bottom: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	height: 70px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.et-hero-tabs-container--top {
	position: fixed;
	top: 0;
}

/* Images */
.logo {
	width: 30vw;
	max-width: 350px;
}

.AJ {
	width: 30vw;
	max-width: 250px;
}

.logo__nav {
	max-width: 47px;
}

.audio-jungle__img {
	justify-content: center;
	max-height: 100%;
	max-width: 560px;
	padding:2rem 15px;
	transition: transform 0.3s ease-in-out;
	width: 40vw;
}

.audio-jungle__img:hover {
	transform: scale(1.1);
}


/* Grids */
.grid {
	background: rgba(239, 239, 231, 0.836);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 100vh;
	padding: 2rem 0;
	position: relative;
	text-align: center;
	}
	
@media screen and (max-width: 800px) {
	.grid {
			/*TODO: zmiana żeby nie zakrywało playerów */
			align-items: center;
			background: rgba(239, 239, 231, 0.836);
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
			position: relative;
			text-align: center;
	}
}

@media screen and (min-width: 1140px) {
	.audio-jungle .grid {
		display: grid;
		background: rgba(239, 239, 231, 0.836);
		grid-template-columns: repeat(3, 1fr);
		min-height: 100vh;
		padding: 0 0;
		position: relative;
		text-align: center;
	}

	.audio-jungle__img {
		max-width: 368px;
	}

	.audio-jungle .grid .last {
		background: rgba(239, 239, 231, 0.836);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 2em;
		position: relative;
		text-align: center;
	}
}

/* Loading page */
.loader {
	background: rgba(239, 239, 231, 0.836);
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	}

.loader > div {
		animation: spin 1.5s infinite linear;
		border-radius: 50%;
		border-top-color: rgb(118, 196, 182);
		border: 15px solid rgb(238, 60, 72);
		bottom: 0;
		height: 100px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;	
		width: 100px;
	}

@keyframes spin{
	100% {
			transform: rotate(360deg)
		}
	}
	
	a {
	 text-decoration: none;
}

/* Players */
  .player, .player__YT{
	justify-content: center;
	max-height: 100%;
	max-width: 560px;
	padding:2rem 15px;
	transition: transform 0.3s ease-in-out;
	width: 47vw;
}

 .player__YT{
	justify-content: center;
	max-height: 100%;
	max-width: 560px;
	padding:2rem 15px;
	transition: transform 0.3s ease-in-out;
	width: 47vw;
}

.player__fb {
	max-width: 500px;
	padding: 1rem;
}
	
@media screen and (max-width: 800px) {
	.player, .player__fb {
		min-width: 90vw;
		padding: 1rem 1rem;
	}
	.audio-jungle__img {
		min-width: 70vw;
		padding: 1rem 1rem;
	}
}

/* Navbar */
 .et-hero-tabs, .et-slide {
	 /*TODO: zmiana żeby nie zakrywało playerów */
	 align-items: center;
	 background: rgba(239, 239, 231, 0.836);
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 min-height: 100vh;
	 /* padding: 0 2em 6rem; */
	 position: relative;
	 text-align: center;
	}
	
	.et-hero-tab-slider {
		background: rgb(238, 60, 72);
		bottom: 0;
		height: 3px;
		position: absolute;
		transition: left 0.3s ease;
		width: 0;
	}
	
	.et-hero-tab {
	align-items: center;
	color: #000;
	display: flex;
	flex: 1;
	font-size: 0.8rem;
	justify-content: center;
	letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	
}

/* Will not hover if not supported */
@media screen and (hover: hover) {
	.et-hero-tab:hover {
	 background: rgb(118, 196, 182);
	 color: white;
	 transition: all 0.5s ease;
	}
}

/* Typography */
 .et-hero-tabs h1, .et-slide h1, .grid h1 {
	 font-size: 2rem;
	 letter-spacing: 1rem;
	 margin: 0;
	 padding: 2rem 0;
}

 .et-hero-tabs h3, .et-slide h3, .grid h3 {
	 font-size: 1rem;
	 letter-spacing: 0.3rem;
	 opacity: 0.6;
}

 @media (min-width: 800px) {
	 .et-hero-tabs h1, .et-slide h1 {
		 font-size: 3rem;
	}

	 .et-hero-tabs h3, .et-slide h3 {
		 font-size: 1rem;
	}

	 .et-hero-tab {
		 font-size: 1rem;
	}
}